<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Fortune</title>
  <style type="text/css">
    .arial {
      font-family: Arial Black, Gadget, sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      font-style: normal;
      text-align: justify;
    }

    .arial div p {
      color: #666;
    }

    .arial div table tr td p strong {
      color: #000;
    }

    .arial div table tr td p {
      color: #000;
    }
  </style>
</head>

<body class="arial">
  <div align="center">
    <p>

      <form method="POST" action="/">

        <input type="text" name="frmSearch" style="font-face: Arial Black, Gadget, sans-serif; text-transform: uppercase; font-size : 14px; width: 250px; height: 25px; font-weight: bolder; border: 0pt; background-color: #000; color: #FFF; text-indent: 10px;"
          value="curiosiki" />

        <input type="submit" style="font-face: Arial Black, Gadget, sans-serif; text-transform: uppercase; font-size : 14px; width: 60px; height: 27px; text-align: center; font-weight: bolder; border: 0pt; background-color: #000; color: #FFF;"
          value="SURF" />
    </p>
    </form>

    <div style="border:none; width:550px; height:450px; overflow-y:scroll; overflow-x:hide; text-align: center;">
      <p style="height:auto;">
        <td width="122">
          <div align="center">
            <p>The internet has gifted us with near unlimited access to the entire collective findings of mankind. But for all
              the knowledge in the world, how much do we actually learn? </p>
            <p>Learning once required research. Rummaging through information and finding the answers along the way. now, The
              solution to any question is just one search away. THe Act of finding and digesting information has been replaced
              by the instant gratification of a question answered.</p>
            <p>the purpose of curiosiki is to reimagine the unlimited content of the internet under the focus of this process
              using wikipedia's archives. Surf will allow you to search for your starting point. Dig will take you to further.</p>
            <p>Surrender yourself to the information super highway and see where it takes you.</p>
            <p>- - -</p>
            <p>Curiosiki was created and developed by George Sarell and Ben Crinion. Copyrite 2017.</p>
          </div>
        </td>
    </div>
    <form method="POST" action="/">
      <p>
        <input type="hidden" name="frmSearch" value="{{dugterm}}" />
        <input type="submit" style="font-face: Arial Black, Gadget, sans-serif; text-transform: uppercase; font-size :14px; width: 60px; height: 27px; text-align: center; font-weight: bolder; border: 0pt; background-color: #000; color: #FFF;"
          value="DIG" />
      </p>
    </form>
    <p>&nbsp;</p>
  </div>
</body>

</html>