<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Curiosiki</title>
    <style type="text/css">
        .arial {
            font-family: Arial Black, Gadget, sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            font-style: normal;
            text-align: justify;
        }

        .arial div p {
            color: #666;
        }

        .arial div table tr td p strong {
            color: #000;
        }

        .arial div table tr td p {
            color: #000;
        }
    </style>
</head>

<body class="arial">
    <div align="center">
        <p>

            <form method="POST" action="/">

                <input type="text" name="frmSearch" style="font-face: Arial Black, Gadget, sans-serif; text-transform: uppercase; font-size : 14px; width: 250px; height: 25px; font-weight: bolder; border: 0pt; background-color: #000; color: #FFF; text-indent: 10px;"
                    value="{{searchterm}}" />

                <input type="submit" style="font-face: Arial Black, Gadget, sans-serif; text-transform: uppercase; font-size : 14px; width: 60px; height: 27px; text-align: center; font-weight: bolder; border: 0pt; background-color: #000; color: #FFF;"
                    value="SURF" />
        </p>
        </form>

        <div style="border:none;width:550px;height:450px;overflow-y:scroll;overflow-x:hide;">
            <p style="height:auto;">
                <td width="122">
                    <div align="justify">

                        {{#content}}
                        <p> {{text}}</p>
                        {{/content}}
                         {{^content}}
                        <div align="center">
                            <img src="/img/fortune.gif" width="400" height="400" align="middle" />
                        </div>
                        {{/content}}
                    </div>
                </td>


        </div>
        <form method="POST"  action="/">
            <p>
                <input type="hidden" name="frmSearch" value="{{selectedLink}}" />
                <input type="submit" style="font-face: Arial Black, Gadget, sans-serif; text-transform: uppercase; font-size :14px; width: 60px; height: 27px; text-align: center; font-weight: bolder; border: 0pt; background-color: #000; color: #FFF;"
                    value="DIG" />
            </p>
        </form>
    </div>
</body>

</html>